<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アカウント設定</title>
  <link rel="stylesheet" href="/assets/css/account.css">
  <link rel="stylesheet" href="/assets/css/menu.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>


</head>
<body>
<header id="luxbar" class="luxbar-fixed">
    <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-red">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="/" class="luxbar-brand"><img src="/assets/images/pomodco_logo_white.png" height="40px" alt="main_logo"></a>
                <%# <a href="/" class="luxbar-brand"><img src="/assets/images/icon.png" alt="Brand Icon." class="brand_icon" /></a> %>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>

              <li class="luxbar-item"><a href="/account">アカウント設定</a></li>
              <li class="luxbar-item"><a href="/logout">ログアウト</a></li>
        </ul>
    </div>
</header>

<div class="main">

  <h1 class="setting_title">アカウント設定</h1>

    <div class="usercard">

    <h3 class="user_icon_title">ユーザーアイコン</h3>
    <% if current_user.user_icon %>
      <img src="<%= current_user.user_icon %>" alt="User Icon." class="user_icon" />
    <% else %>
      <img src="https://gravatar.com/avatar/<%= current_user.user_gravatar %>?s=460&d=retro" alt="User Icon." class="user_icon" />
    <% end %>

    <div class="icon_option_button">

    <% if current_user.user_icon %>
      <form action="/icon/delete" method="post">
        <input class="icon_option_btn" type="submit" value="アイコンを削除">
      </form>
    <% else %>
      <form action="/icon/shuffle" method="post">
        <input class="icon_option_btn" type="submit" value="アイコンガチャを引く">
      </form>
    <% end %>

    </div>

  </div>

  <div class="user_setting">

  <div class="form-item">

    <form action="/account/update/goal" method="post">

  	    <label for="goal"><h3>１週間の目標</h3><h4>※1ポモドーロ=25分間集中して勉強することです。</h4></label>
        <select name="goal" class="goal" id="goal">
        <% if current_user.goal == 0 %>
          <option>選択してください</option>
        <% else %>
          <option><%= current_user.goal %></option>
        <% end %>
        <% 403.times do |i| %>
        <option><%= i + 1 %></option>
        <% end %>
        </select>
        <p class="calc">ポモドーロ × 25分 = <span id="output"><%= current_user.goal * 25 %></span>分</p>
      <div class="button-panel">
  	    <input type="submit" class="button" title="Update" value="目標をアップデートする">
  	  </div>
    </form>
    <script>
      $(function() {
        var $input = $('#goal');
        var $output = $('#output');
        $input.on('input', function(event) {
          var value = $input.val()*25;
          $output.text(value);
        });
      });
    </script>

    <form action="/account/update/general" method="post">
  	  <div class="form-item">
  	    <label for="name"><h3>ニックネーム</h3></label>
  	    <input type="text" name="name" value="<%= current_user.name %>" placeholder="ニックネーム(英数字8文字以内)">
  	  </div>
  	  <div class="form-item">
  	    <label for="mail"><h3>メールアドレス</h3></label>
  	    <input type="text" name="mail" value="<%= current_user.mail %>" placeholder="メールアドレス">
  	  </div>
  	  <div class="button-panel">
  	    <input type="submit" class="button" title="Update" value="アカウント情報をアップデート">
  	  </div>
    </form>

    <form action="/account/update/password" method="post">
  	  <div class="form-item">
  	    <label for="password"><h3>パスワード</h3></label>
  	    <input type="password" name="password" placeholder="パスワード">
  	  </div>
  	  <div class="form-item">
  	    <label for="password"></label>
  	    <input type="password" name="password_confirmation" placeholder="パスワードの確認">
  	  </div>
  	  <div class="button-panel">
  	    <input type="submit" class="button" title="Update" value="パスワードをアップデート">
  	  </div>
    </form>

    <h3>タイマー表示設定</h3>
    <% if User.find_by(id: session[:user]).user_timer_mode == "tomato" %>
      <form action="/account/timer/timer" method="post">
        <div class="button-panel">
          <input type="submit" class="button" title="timer_mode" value="オンにする">
        </div>
      </form>
    <% elsif User.find_by(id: session[:user]).user_timer_mode == "timer" %>
      <form action="/account/timer/tomato" method="post">
        <div class="button-panel">
          <input type="submit" class="button" title="timer_mode" value="オフにする">
        </div>
      </form>
    <% else %>
      error
    <% end %>

    <h3>ポモドーロ履歴をリセット</h3>
      <form action="/account/reset" method="post">
  	    <div class="button-panel">
  	      <input type="submit" class="reset_delete" title="Reset" value="ポモドーロ履歴をリセットする">
  	    </div>
      </form>

    <h3>アカウント削除</h3>
      <form action="/account/delete" method="post">
  	    <div class="button-panel">
  	      <input type="submit" class="reset_delete" title="Delete" value="アカウントを削除する">
  	    </div>
      </form>

  </div>


</div>