<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="dns-prefetch" href="https://use.fontawesome.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <title>Edit - Pomod.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta itemprop="name" content="Pomod.co">
  <meta itemprop="image" content="https://pomod.co/assets/images/ogp.png">
  <link rel="canonical" href="https://pomod.co" />
  <link rel="alternate" type="application/rss+xml" href="https://pomod.co/assets/sitemap.xml" />
  <!-- OGP -->
  <meta property="fb:app_id" content="1203442269812622">
  <meta property="og:url" content="https://pomod.co">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Chart - Pomod.co">
  <meta property="og:description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta property="og:image" content="https://pomod.co/assets/images/ogp.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Chart - Pomod.co">
  <meta name="twitter:description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta name="twitter:image" content="https://pomod.co/assets/images/ogp.png">
  <meta name="twitter:site" content="@i5so_" />
  <!-- CSS -->
  <link rel="stylesheet" href="../../assets/css/layout-sign-on.css" />
  <link rel="stylesheet" href="../../assets/css/index.css" />
  <link rel="stylesheet" href="../../assets/css/chart_edit.css" />
  <!-- JS -->

  <!-- ファビコン -->
  <link rel="icon" href="../../assets/images/favicon.ico">
  <!-- スマホ用アイコン -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/app_icon_180.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <!-- Windows用アイコン -->
  <meta name="application-name" content="Pomod.co" />
  <meta name="msapplication-square70x70logo" content="../../assets/images/app_icon_70.png" />
  <meta name="msapplication-square150x150logo" content="../../assets/images/app_icon_150.png" />
  <meta name="msapplication-square310x310logo" content="../../assets/images/app_icon_310.png" />
  <meta name="msapplication-TileColor" content="#efeeee" />
  <!-- テーマカラー -->
  <meta name="theme-color" content="#efeeee">
</head>

<body>

  <menu>
    <a class="logo" href="/"></a>
    <a href="/chart"><i class="fas fa-chart-line"></i></a>
    <a href="/todo"><i class="fas fa-check"></i></a>
    <a class="disabled"><i class="fas fa-cog"></i></a>
    <a href="/signout"><i class="fas fa-sign-out-alt"></i></a>
  </menu>
  <main>
    <h1>Edit<hr></h1>
    <div id="container">
      <div class="time_set">
        <h2>記録を編集する</h2>
        <form method="post" action="/chart/edited/<%= @pomodoro.id %>">
          <h3>やったこと</h3>
          <input type="text" name="did" value="<%= @pomodoro.did %>">
          <h3>わかったこと</h3>
          <input type="text" name="understand" value="<%= @pomodoro.understand %>">
          <h3>次にやること</h3>
          <input type="text" name="next" value="<%= @pomodoro.next %>">
          <button type="button" class="remove" onclick="remove()">削除する</button>
          <input type="submit" value="保存して戻る">
        </form>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    function remove() {
      result = window.confirm('この記録を削除してもよろしいですか?\nこの操作は取り消せません');
      if (result) {
        $.post('/chart/remove/<%= @pomodoro.id %>')
        window.location.href = "/chart#result";
      }
    }
  </script>
  <script>
    (function (d) {
      var c = d.createElement('link');
      c.type = 'text/css';
      c.rel = 'stylesheet';
      c.href = 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';
      var s = d.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(c, s);
    })(document);
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>
</body>
</html>