<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ポモドーロ履歴</title>
  <link rel="stylesheet" href="/assets/css/history_update.css">
  <link rel="stylesheet" href="/assets/css/menu.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>


</head>
<body>
<header id="luxbar" class="luxbar-fixed">
    <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-red">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="/" class="luxbar-brand"><img src="/assets/images/pomodco_logo_white.png" height="40px" alt="main_logo"></a>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>

              <li class="luxbar-item"><a href="/account">アカウント設定</a></li>
              <li class="luxbar-item"><a href="/logout">ログアウト</a></li>
        </ul>
    </div>
</header>

<div class="main">
  <div class="usercard">

    <% if current_user.user_icon %>
      <img src="<%= current_user.user_icon %>" alt="User Icon." class="user_icon" />
    <% else %>
      <img src="https://gravatar.com/avatar/<%= current_user.user_gravatar %>?s=460&d=retro" alt="User Icon." class="user_icon" />
    <% end %>

    <div class="username">
      <h1><%= current_user.name %></h1>
    </div>
    <div class="timerbutton">
      <a href="/timer" class="timer_btn">Let's ポモドーロ！</a>
    </div>
    <div class="indexbutton">
      <a href="/" class="index_btn">戻る</a>
    </div>

  </div>

  <div class="user_history">
    <h1 class="history_title">ポモドーロ項目を編集</h1>
    <div class="form-item">
      <form action="/history/<%= @tomato.id %>/update" method="post">
        <div class="form-item">
          <label for="topic"><h3>勉強したもの</h3></label>
          <input type="text" name="topic" value="<%= @tomato.topic %>" placeholder="(例) 数学">
        </div>
        <div class="form-item">
          <label for="memo"><h3>一言メモ</h3></label>
          <input type="text" name="memo" value="<%= @tomato.memo %>" placeholder="(例) トマト計算やった">
        </div>
          <h3>開始日時: <%= @tomato.tomato_start_datetime %></h3>
          <h3>終了日時: <%= @tomato.tomato_end_datetime %></h3>
        <div class="button-panel">
          <input type="submit" class="button" title="Update" value="ポモドーロ情報をアップデート">
        </div>
      </form>
      <form action="/history/<%= @tomato.id %>/delete" method="post">
        <div class="button-panel_remove">
          <input type="submit" class="button" title="Update" value="ポモドーロ情報を削除する">
        </div>
      </form>
    </div>
  </div>



</div>