<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pomodco - どこでもポモドーロタイマー！</title>
  <meta property="og:title" content="Pomodco - どこでもポモドーロタイマー！">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pomod.co/">
  <meta property="og:image" content="/assets/images/og_image.png">
  <meta property="og:description" content="Pomodco(ポモドコ)でいつでもどこでもポモドーロタイマーを使おう！">
  <meta property="og:site_name" content="Pomodco">

  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/menu.css">
  <link rel="stylesheet" href="/assets/css/jquery.fullpage.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>




  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>

</head>
<body>
<header id="luxbar" class="luxbar-fixed">
    <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-red">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="/" class="luxbar-brand"><img src="/assets/images/pomodco_logo_white.png" height="40px" alt="main_logo"></a>
                <%# <a href="/" class="luxbar-brand"><img src="/assets/images/icon.png" alt="Brand Icon." class="brand_icon" /></a> %>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>

            <% if current_user %>
              <li class="luxbar-item"><a href="/account">アカウント設定</a></li>
              <li class="luxbar-item"><a href="/logout">ログアウト</a></li>
            <% else %>
              <li class="luxbar-item"><a href="/login">ログイン</a></li>
              <li class="luxbar-item"><a href="/signup">アカウント登録</a></li>
            <% end %>

            <%# <li class="luxbar-item"><a href="#">Item 2</a></li>
            <li class="luxbar-item"><a href="#">Item 3</a></li>
            <li class="luxbar-item"><a href="#">Item 4</a></li> %>
        </ul>
    </div>
</header>

<% unless session[:user] %>


<div class="about">

  <section class="top">

  </section>

</div>

<script>
  $(function() {
    $("a[href*=#]").on("click", function(e) {
      e.preventDefault();
      $("html, body").animate(
        { scrollTop: $($(this).attr("href")).offset().top },
        300,
        "linear"
      );
    });
  });
</script>





<% else %>

<div class="main">
  <div class="usercard">


    <% if current_user.user_icon %>
      <img src="<%= current_user.user_icon %>" alt="User Icon." class="user_icon" />
    <% else %>
      <img src="https://gravatar.com/avatar/<%= current_user.user_gravatar %>?s=460&d=retro" alt="User Icon." class="user_icon" />
    <% end %>


    <div class="username">
      <h1><%= current_user.name %></h1>
    </div>
    <div class="timerbutton">
      <a href="/timer" class="timer_btn">Let's ポモドーロ！</a>
    </div>
    <div class="historybutton">
      <a href="/history" class="history_btn">履歴を見る</a>
    </div>

  </div>

  <div class="user_tree">
    <div class="chart_goal">
      <% if current_user.goal == 0 %>
        <div class="goal_warning">
        <h1>さあ、設定で今週の目標を設定しよう!</h1>
        </div>
      <% else %>
        <canvas id="Chart_goal"></canvas>
        <script>
          var ctx = document.getElementById("Chart_goal").getContext('2d');
          ctx.canvas.height = 320;
          var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: ["達成済み <%= @week_tomatoes %>回", "目標　<%= current_user.goal %>回"],
              datasets: [{
                backgroundColor: [
                  "#e74c3c",
                  "#95a5a6"
                ],
                data: [<%= @goal_tomatoes %>, <%= @goal %>]
              }]
            },
            options: {
                title: {
                    display: true,
                    text: '今週の目標',
                    fontSize: 30
                },
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                  callbacks: {
                    label: function (tooltipItem, data) {
                      return data.labels[tooltipItem.index]
                        + ": "
                        + data.datasets[0].data[tooltipItem.index]
                        <% if @goal_tomatoes == 100 %>
                        + " %達成済み";
                        <% else %>
                        + " %";
                        <% end %>
                    }
                  }
                }
              }
            });
          </script>
        <% end %>
      <h2>あなたはこれまで<%= @all_tomatoes %>個分のトマトを育てました。</div>
    </div>
  </div>










<% end %>

</body>
</html>